@import "tailwindcss";

@theme {
  --color-white: #c2c9cc;
  --color-bg-white: #edeff0;
  --color-dark: #0a1811;
  --color-red: #ff0000;
  --color-brown: #3a2e1f;

  --font-sans: var(--font-inter);
  --font-sora: var(--font-sora);
}

/* Chrome, Edge, Safari */
.custom-scrollbar::-webkit-scrollbar {
  height: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(from var(--color-brown) r g b / 22%);
  border-radius: 999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--color-brown);
  border-radius: 999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--color-brown);
}

/* Firefox */
.custom-scrollbar {
  scrollbar-color: var(--color-brown) rgb(from var(--color-brown) r g b / 22%);
  scrollbar-width: thin;
}

html {
  scroll-behavior: smooth;
}
